[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = https://github.com/eya46/Clash.Meta.git
	branch = tsnet
[submodule "plugins/flutter_distributor"]
	path = plugins/flutter_distributor
	url = https://github.com/eya46/flutter_distributor.git
	branch = tsnet
[submodule "plugins/tray_manager"]
	path = plugins/tray_manager
	url = git@github.com:chen08209/tray_manager.git
	branch = main


